body {
  text-align: center;
  box-sizing: border-box;
}
.page {
  text-align: center;
  background-image: url(https://ui-ex.com/images/badges-vector-gryffindor-2.png);
  background-repeat: repeat;
  background-color: #d8d9ce;
}
