.wrapper__card{
  background-color: #0c1e6a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.wrapper__detail{
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.detail{
  border: 2px solid black;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10%;
  background: #b29377;
  display: flex;
  max-width: 650px;
}

.detail__img{
  border-radius: 10px;
  width: auto;
  height: 400px;
  @media all and (min-width: 768px){
    width: 350px;
  }
}
.detail__info{
  font-size: 20px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 20px;
}

.detail__name{
  font-size: 30px;
  text-align: center;
}

.detail__info--dob,
.detail__info--house,
.detail__info--patronus,
.detail__info--surviver{
  margin: 10px;
}
.test{
  display: flex;
  justify-content: flex-end;
  height: 70px;
  position: relative;
  bottom: 30px;
  right: 10px;
}

.img{
  width: 70px;
}
.btn__back{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 6px;
  font-size: 24px;
  height: 40px;
  width: 95px;
  background: #d5d1b6;
  cursor: pointer;
  border: 2px solid #3d6b41;
  &:hover{
    border: 2px solid #d5d1b6;
    background: #f8f8c0;
    color: #171513;
  }
}