.input{
  height: 50px;
  width: 240px;
  text-align: center;
  font-size: 14px;
  border-radius: 30px;
  border: 2px solid black;
}
.filter__houses {
  background-color: #dedede;
  border: 3px solid #909390;
  width: 250px;
  justify-content: center;
  margin: 3px auto;
  padding: 9px
}
.filter__houses-name{
  margin-top: 3px;
}
.option{
  text-align: left;
}