@font-face {font-family: "Parry Hotter";
  src: url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.eot");
  src: url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.eot?#iefix") format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.woff2") format("woff2"),
  url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.woff") format("woff"),
  url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.ttf") format("truetype"),
  url("https://db.onlinewebfonts.com/t/4834f12f4baeb6cccc0a01e0aa35d99a.svg#Parry Hotter") format("svg");
 }
 .title{
  margin: 0px;
  font-size: 60px;
  padding-top: 15px;
  font-family: Parry Hotter;
}