.pannel{
  text-align: center;
}

.pannel__list{
  list-style: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 0px;
  @media all and (min-width: 768px){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  @media all and (min-width: 1024px){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

.link{
  text-decoration: none;
  color: black;
}

.card{
  text-decoration: none;
  background: #e6d690;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  min-height: 541px;
  &:hover{
    background-color: #f9f6c2;
    transform: scale(1.1);
  }
}
.card__img{
  width: 200px;
  margin-top: 15px;
  border-radius: 5px;
  @media all and (min-width: 768px){
    width: 250px;
    height: 400px;
  }
}
.card__name{
  font-size: 26px;
}
.card__house{
  font-size: 20px;
}


